<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snxy.user.agent.dao.mapper.SystemUserMapper">
  <resultMap id="BaseResultMap" type="com.snxy.user.agent.domain.SystemUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="reg_date" jdbcType="DATE" property="regDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="account_status" jdbcType="TINYINT" property="accountStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, mobile, chinese_name, nick, pwd, gender, reg_date, gmt_create, gmt_modified, 
    account_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--登录-->
  <select id="getByAccount"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from system_user
    where account = #{account,jdbcType=VARCHAR}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from system_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snxy.user.agent.domain.SystemUser">
    insert into system_user (id, account, mobile, 
      chinese_name, nick, pwd, 
      gender, reg_date, gmt_create, 
      gmt_modified, account_status)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{chineseName,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{regDate,jdbcType=DATE}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{accountStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.snxy.user.agent.domain.SystemUser">
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="chineseName != null">
        chinese_name,
      </if>
      <if test="nick != null">
        nick,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="regDate != null">
        reg_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="regDate != null">
        #{regDate,jdbcType=DATE},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snxy.user.agent.domain.SystemUser">
    update system_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="regDate != null">
        reg_date = #{regDate,jdbcType=DATE},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null">
        account_status = #{accountStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snxy.user.agent.domain.SystemUser">
    update system_user
    set account = #{account,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      chinese_name = #{chineseName,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      reg_date = #{regDate,jdbcType=DATE},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      account_status = #{accountStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>