<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snxy.user.agent.dao.mapper.UserIdentityTypeMapper">
  <resultMap id="BaseResultMap" type="com.snxy.user.agent.domain.UserIdentityType">
    <id column="system_user_id" jdbcType="BIGINT" property="systemUserId" />
    <id column="identity_type_id" jdbcType="INTEGER" property="identityTypeId" />
    <result column="is_active" jdbcType="TINYINT" property="isActive" />
    <association property="identityType" javaType="com.snxy.user.agent.domain.IdentityType">
                  <id column="id" property="id"/>
                  <result column="identity_id" property="identityId"/>
                  <result column="identity_name" property="identityName"/>
                   <result column="remark" property="remark"/>
     </association>
  </resultMap>
  <sql id="Base_Column_List">
    system_user_id, identity_type_id, is_active
  </sql>
  <!--通过id查询用户的身份-->
  <select id="listUserIdentityBySystemUserId"  resultType="com.snxy.user.agent.domain.UserIdentity">
    select A.system_user_id as systemUserId,
            A.identity_type_id as identityId,
            A.is_active as isActive,
            B.identity_name as identityName
    from user_identity_type A
       inner join identity_type B
       on  A.identity_type_id = B.id
    where A.system_user_id = #{systemUserId,jdbcType=BIGINT }
  </select>
  <select id="selectByPrimaryKey" parameterType="com.snxy.user.agent.domain.UserIdentityTypeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_identity_type
    where system_user_id = #{systemUserId,jdbcType=BIGINT}
      and identity_type_id = #{identityTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.snxy.user.agent.domain.UserIdentityTypeKey">
    delete from user_identity_type
    where system_user_id = #{systemUserId,jdbcType=BIGINT}
      and identity_type_id = #{identityTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.snxy.user.agent.domain.UserIdentityType">
    insert into user_identity_type (system_user_id, identity_type_id, is_active
      )
    values (#{systemUserId,jdbcType=BIGINT}, #{identityTypeId,jdbcType=INTEGER}, #{isActive,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snxy.user.agent.domain.UserIdentityType">
    insert into user_identity_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemUserId != null">
        system_user_id,
      </if>
      <if test="identityTypeId != null">
        identity_type_id,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemUserId != null">
        #{systemUserId,jdbcType=BIGINT},
      </if>
      <if test="identityTypeId != null">
        #{identityTypeId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snxy.user.agent.domain.UserIdentityType">
    update user_identity_type
    <set>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
    </set>
    where system_user_id = #{systemUserId,jdbcType=BIGINT}
      and identity_type_id = #{identityTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snxy.user.agent.domain.UserIdentityType">
    update user_identity_type
    set is_active = #{isActive,jdbcType=TINYINT}
    where system_user_id = #{systemUserId,jdbcType=BIGINT}
      and identity_type_id = #{identityTypeId,jdbcType=INTEGER}
  </update>
</mapper>